{% extends 'base.html' %}
{% load static %}


{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block title %}
    My Blog
{% endblock %}

{% block content %}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/girl.jpg' %}" alt="Homa - The Author Of This Blog">
            <h2>Homa's Blog</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </header>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        
        <ul>
            {% for post in posts %}
            {% include 'blog/includes/post.html' %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I do</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Nostrum, libero ratione doloremque tempore doloribus corporis neque fugit alias inventore quas quo accusamus odit dicta expedita, 
            sint nisi, maiores hic eius!
        </p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Ipsam veritatis soluta nemo quasi at reiciendis ducimus consequuntur magni asperiores tenetur cumque rerum, repellat laboriosam animi velit. 
            Cupiditate a sunt quos.
        </p>
    </section>
{% endblock %}